/* 
- utilizar max with
- poner responsive
- 

*/

label {
    /* margin-right: 80px; */
    /* margin-right: 30px; */
    margin-right: 20px;
    text-align: justify;
}

.row {
    margin: 0%;
}

.espacio {
    /* width: 250px; */
    /* width: 200px; */
    width: 180px;
}

.divicion {
    /* width: 155px; */
    /* modificar */
    margin-right: 10px;
    width: 150px;
    text-align: left;
}

input {
    border: 1px solid;
    border-radius: 6px;
    /* modificar */
    /* width: 80px; */
    min-width: 60px;
    max-width: 80px;
    /* max-width: 100px; */
    /* height: 25px; */
    outline: none;
    text-align: right;
    /* modificar */
    /* padding-right: 1%; */
    background-color: transparent;
}

.caja {
    /* background-color: white; */
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    /* outline: none; elimina el enfoque*/
}


/* cambiar nombre */

.especial {
    border: none;
    color: black;
    /* background-color: white; */
    border-radius: 0;
    text-align: center;
    border-bottom: double;
}

.balanced {
    /* width: 280px; */
    width: 150px;
    text-align: left;
    margin-right: 10px;
    /* padding-bottom: 0%;
    margin-bottom: 0%; */
    /* padding-top: 40%; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

.center {
    justify-content: center;
    text-align: center;
}


/* .pad {
    margin: 25px;
} */

.negrita {
    font-weight: bold;
    text-align: left;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

form#balancegeneral,
#estadoresultado {
    border: 2px solid rgb(53, 46, 46);
    /* padding-bottom: 30px; */
    /* padding-left: 30px; */
    /* margin: 30px 20px 30px 80px; */
}

.boton {
    background-color: green;
}


/*body {
    /* background-color: #007BFF; * /
    background-color: #16def9;
}*/